
<div>
    <section id="contenido">
       <article>
        <h1>
            Razon 1 
            <br>
            Es un buen samaritano
        </h1>

        <h1>
            Razon 2 
            <br>
            Dentro de todo explica bien
        </h1>
        
        <h1>
            Razon 3 
            <br>
            Tiene buena barbilla
        </h1>
        
        <h1>
            Razon 4 
            <br>
            Son interesantes las clases
        </h1>
        
        <h1>
            Razon 5 
            <br>
            :)
        </h1>
        
       </article>
       

    </section>
    
  

 

    <footer>
        <h3 id="footexto">Programado por Fede c:</h3>
    </footer>

</div>
